<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<typeAliases>-->
        <!--<typeAlias alias="CompanyDAO" type="com.altarix.artifacttest2.daopanyMapper"/>-->
    <!--</typeAliases>-->
    <typeAliases>
        <typeAlias type="com.altarix.artifacttest2.pojo.Company" alias="Company"/>
        <typeAlias type="com.altarix.artifacttest2.pojo.Department" alias="Department"/>
        <typeAlias type="com.altarix.artifacttest2.pojo.Employee" alias="Employee"/>
        <typeAlias type="com.altarix.artifacttest2.pojo.PositionInDeprtmnt" alias="PositionInDeprtmnt"/>
        <typeAlias type="com.altarix.artifacttest2.pojo.SalaryFund" alias="SalaryFund"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name = "url" value = "jdbc:postgresql://localhost:5433/CompanyStructure"/>
                <property name = "username" value = "postgres"/>
                <property name = "password" value = "0128"/>

                <property name="poolMaximumActiveConnections" value="10" />
                <property name="poolMaximumIdleConnections" value="2" />
                <property name="poolMaximumCheckoutTime" value="120000" />
                <property name="poolTimeToWait" value="10000" />
                <property name="poolPingQuery" value="select 1" />
                <property name="poolPingEnabled" value="true" />
                <property name="poolPingConnectionsNotUsedFor" value="900000" />
            </dataSource>
        </environment>
    </environments>
    <mappers><!--в этом блоке маперы, которые используются в проекте-->
            <mapper resource="mappersxml/CompanyMapper.xml"/>
            <mapper resource="mappersxml/DepartmentMapper.xml"/>
            <mapper resource="mappersxml/EmployeeMapper.xml"/>
            <mapper resource="mappersxml/PositionInDeprtmntMapper.xml"/>
            <mapper resource="mappersxml/SalaryFundMapper.xml"/>
    </mappers>
</configuration>