<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.altarix.artifacttest2.dao.DepartmentDAO" >

    <resultMap id="Deprtmnt" type="Department">
        <id property="idDepartment" column="iddepartment"/>
        <result property="idCompany" column="idcompany"/>
        <result property="idRootDepartment" column="idrootdepartment"/>
        <result property="dateOfCreating" column="dateofcreating"/>
        <result property="nameDepartment" column="namedepartment"/>
    </resultMap>
    <select resultMap="Deprtmnt" id="getAll">select * from department;</select>

    <select resultMap="Deprtmnt" id="getByID" parameterType="long" >
            select * from department where iddepartment= #{id}
    </select>

    <select resultMap="Deprtmnt" id="getChilds" parameterType="long">
        select * from department where idrootdepartment = #{idRoot};
    </select>

    <select resultMap="Deprtmnt" id="getByName" parameterType="java.lang.String">
        select * from department where namedepartment = #{nameDep};
    </select>

    <insert id="insert" parameterType="Department">
        insert into department(iddepartment, idcompany, dateofcreating, namedepartment, idrootdepartment)
            values (#{department.idDepartment},#{department.idCompany},#{department.dateOfCreating},
                    #{department.nameDepartment},#{department.idRootDepartment});
    </insert>

    <update id="update" parameterType="Department">
        update department set idcompany = #{departmentNew.idCompany},dateofcreating = #{departmentNew.dateOfCreating},
          namedepartment = #{departmentNew.nameDepartment}, idrootdepartment = #{departmentNew.idRootDepartment}
          where iddepartment = #{idOld}
    </update>

    <update id="updateParentDep" parameterType="Long">
        update department set idrootdepartment = #{idParent}
                  where iddepartment = #{idDepChild}
    </update>

    <delete id="delete" parameterType="long">delete from Department where iddepartment = #{id}</delete>

    <delete id="deleteAll">delete from department</delete>
</mapper>
