<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.altarix.artifacttest2.dao.EmployeeDAO">
    <resultMap id="employee" type="Employee">
        <id property="idEmployee" column="idemployee"/>
        <result property="idDepartment" column="iddepartment"/>
        <result property="idPosition" column="idposition"/>
        <result property="idCompany" column="idcompany"/>
        <result property="surname" column="surname"/>
        <result property="name" column="name"/>
        <result property="patronymic" column="patronymic"/>
        <result property="sex" column="sex"/>
        <result property="dateBirth" column="datebirth"/>
        <result property="phoneNumber" column="phonenumber"/>
        <result property="email" column="email"/>
        <result property="employmentDate" column="employmentdate"/>
        <result property="dateOfDismissal" column="dateofdismissal"/>
        <result property="salary" column="salary"/>
        <result property="isChief" column="ischief"/>
    </resultMap>
    <select resultMap="employee" id="getAll">select * from employee;</select>

    <select resultMap="employee" id="getByID" parameterType="long" >
            select * from employee where  idemployee = #{id};
    </select>

    <select  resultMap="employee" id="getByIdDeprtmnt" parameterType="long">
        select * from employee where iddepartment = #{idDep};
    </select>

    <select resultMap="employee" id="getBossOfDep" parameterType="long">
        select * from employee where iddepartment = #{idDep} and ischief and dateOfDismissal is null;
    </select>
    
    <select id="getCntEmplByDep" resultType="java.lang.Integer" parameterType="long">
          select COUNT(idemployee) from employee where iddepartment = #{idDep};
    </select>

    <select id="getFondMoney" resultType="long" parameterType="long">
        select SUM (salary) from employee where iddepartment = #{idDep}
    </select>

    <select id="getMaxSalary" resultType="java.lang.Integer" parameterType="long">
        select MAX (salary) from employee where iddepartment = #{idDep}
    </select>

    <select id="getMans" resultMap="employee">
        select * from employee
            where sex = #{cSex} and dateofdismissal is null
    </select>

    <insert id="insert" parameterType="Employee">
        insert into employee(idemployee, iddepartment, idposition, idcompany, surname, name, patronymic, sex,
            datebirth, phonenumber, email, employmentdate, dateofdismissal, salary, ischief)
            values (#{employee.idEmployee}, #{employee.idDepartment}, #{employee.idPosition}, #{employee.idCompany},
              #{employee.surname}, #{employee.name}, #{employee.patronymic}, #{employee.sex}, #{employee.dateBirth},
              #{employee.phoneNumber},#{employee.email}, #{employee.employmentDate},#{employee.dateOfDismissal},
              #{employee.salary},#{employee.isChief});
    </insert>

    <update id="update" parameterType="Employee">
      update employee set idemployee = #{employee.idEmployee}, iddepartment = #{employee.idDepartment},
        idposition = #{employee.idPosition}, idcompany = #{employee.idCompany}, surname = #{employee.surname},
        name =#{employee.name}, patronymic =#{employee.patronymic},sex =#{employee.sex}, datebirth = #{employee.dateBirth},
        phonenumber= #{employee.phoneNumber},email =#{employee.email}, employmentdate=#{employee.employmentDate},
        dateofdismissal =#{employee.dateOfDismissal}, salary =#{employee.salary},ischief =#{employee.isChief}
        where idemployee = #{idOld}
    </update>

    <delete id="delete" parameterType="long">delete from employee where = #{id}</delete>

    <delete id="deleteAll">delete from employee</delete>
</mapper>