<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<typeAliases>-->
        <!--<typeAlias alias = "class_alias_Name" type = "absolute_clas_Name"/>-->
    <!--</typeAliases>-->

    <!--<settings></settings>-->

    <environments default = "development"><!--настраиваю подключения к БД-->
        <environment id = "development">
            <transactionManager type = "JDBC"/>
            <dataSource type = "POOLED">
                <property name = "driver" value = "org.postgresql.Driver"/>
                <property name = "url" value = "jdbc:postgresql://localhost:5433/postgres"/>
                <property name = "username" value = "postgres"/>
                <property name = "password" value = "0128"/>
            </dataSource>
        </environment>
    </environments>

    <mappers><!--в этом блоке маперы, которые используются в проекте-->
        <mapper class="main.java.com.altarix.artifacttest2.mappers.CompanyMapper"/>
        <mapper class="main.java.com.altarix.artifacttest2.mappers.DepartmentMapper"/>
        <mapper class="main.java.com.altarix.artifacttest2.mappers.EmployeeMapper"/>
        <mapper class="main.java.com.altarix.artifacttest2.mappers.PositionInDeprtmntMapper"/>
    </mappers>

</configuration>